/* 전체 HTML 및 body의 높이를 100%로 설정하고 기본 마진을 제거합니다 */
body, html {
    height: 100%;
    margin: 0;
}

/* app ID를 가진 요소를 flexbox 컨테이너로 설정하여 세로 방향으로 배치합니다 */
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%;
    flex: 0 0 10%; /* 고정 높이 15% */
    border: 1px solid black;
}

/* middle 클래스를 가진 요소를 flex-grow를 사용하여 남은 공간을 차지하게 합니다 */
.middle {
    width: 100%;
    flex: 1; /* 남은 공간을 모두 차지 */
    border: 1px solid black;
}

.footer {
    width: 100%;
    flex: 0 0 10%; /* 고정 높이 15% */
    border: 1px solid black;
}
